<!-- Code derived from "Python Django Tutorial: Full-Featured Web App Part 12 - Email and Password Reset" Timestamp 2:54-->
<!-- Code derived from "Python Django Tutorial: Full-Featured Web App Part 7 - Login and Logout System" Timestamp 5:51-->
{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="sumbit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}